/*-------------- FOOTER SECTION ---------------------*/
footer {
    height: 110px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(49, 168, 221, 0.2));
}

footer img {
    width: 310px;
    height: 44px;
    display: flex;
    margin: auto;
    margin-top: 40px;
}

footer p{
    width: 259px;
    height: 19px;
    color: white;
    font-weight: 400;
    size: 16px;
    margin: auto;
    margin-top: 15px;
}

footer a{
    color: #33A8DB;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
/*-------------- END OF FOOTER SECTION ---------------------*/