/*-------------- TRANSFORM WORLD SECTION ---------------------*/
#transform-world{
    height: 363px;
    padding-top: 20px;
    border-bottom: 1px solid #33A8DB;
    background-image: url(../assets/images/woman-code.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

#transform-world p{
    width: 244px;
    height: 141px;
    margin-top: 111px;
    margin-left: 198px;
    color: white;
    text-transform: lowercase;
    text-shadow: #33A8DB 1px 0 10px;
    font-weight: 900;
    font-size: 40px;
}
/*-------------- END OF TRANSFORM WORLD SECTION ---------------------*/